*
  outline: none
  border: none
  padding: 0
  margin: 0
  background: none
  color: inherit
  font-size: inherit
  line-height: inherit
  pointer-events: none
  -webkit-tap-highlight-color: transparent
  user-select: none
  cursor: default
  font-smooth: never
  touch-action: manipulation

body
  line-height: 5vh
  font-size: 4vh
  font-family: monospace
  background: black
  overflow-x: auto
  overflow-y: hidden
  text-align: center

.object
  position: absolute
  pointer-events: auto
  cursor: pointer

.game
  pointer-events: auto
  image-rendering: -moz-crisp-edges
  image-rendering: pixelated
  position: relative
  display: inline-block

.player
  position: absolute
  background: url('player.png')
  background-size: 7vh
  width: 7vh
  height: 24vh
  margin-left: -3.5vh
  transition: transform 1s linear

.speechContainer
  position: absolute

.speech
  position: absolute
  border-style: solid
  white-space: pre-wrap
  max-width: 50vh
  background: white
  background-clip: content-box

  &[horizontal="left"]
    right: 0

  &[horizontal="right"]
    left: 0

  &[vertical="above"]
    bottom: 0

  &[vertical="below"]
    top: 0

  &[style="bubble"]
    border-width: 8vh
    border-image-slice: 8
    &[horizontal="left"]
      margin-right: -4vh
      &[vertical="above"]
        border-image-source: url('speechBubbleLeftAbove.png')
      &[vertical="below"]
        border-image-source: url('speechBubbleLeftBelow.png')
    &[horizontal="right"]
      margin-left: -4vh
      &[vertical="above"]
        border-image-source: url('speechBubbleRightAbove.png')
      &[vertical="below"]
        border-image-source: url('speechBubbleRightBelow.png')