*
  outline: none
  border: none
  padding: 0
  margin: 0
  background: none
  color: inherit
  font-size: inherit
  line-height: inherit
  pointer-events: none
  user-select: none
  cursor: default
  font-smooth: never

body
  line-height: 5vmin
  font-size: 4vmin
  font-family: monospace

.object
  position: absolute
  pointer-events: auto
  cursor: pointer

.game
  pointer-events: auto
  image-rendering: pixelated

.player
  position: absolute
  background: url('player.png')
  background-size: 7vmin
  width: 7vmin
  height: 24vmin
  margin-left: -3.5vmin
  transition: left 1s linear

.speechContainer
  position: absolute

.speech
  position: absolute
  border: 6vmin solid
  border-image-slice: 6
  background: white
  white-space: pre-wrap
  max-width: 50vmin